{% extends 'layout.html' %}
{% block content %}
<form name="field-data" method="POST" action="/submit">
  {{ form.hidden_tag() }}
  {{ form.csrf_token }}
  <div class="row mb-4">
    <div class="col-md">
      <div class="d-flex border justify-content-around bg-info">
        <div class="bg-secondary text-light p-4">
          <div class="d-flex align-items-center h-100">
            <i class="fa fa-3x fa-fw fa-cog"></i>
          </div>
        </div>
        <div class="flex-grow-1 bg-white p-4">
          <h7 class="text-uppercase text-secondary mb-0">Age &nbsp&nbsp</h7>  
          <div class="form-goup">
            {{ form.age(class="mdb-select md-form") }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="d-flex border justify-content-around bg-info">
        <div class="bg-secondary text-light p-4">
          <div class="d-flex align-items-center h-100">
            <i class="fa fa-3x fa-fw fa-cog"></i>
          </div>
        </div>
        <div class="flex-grow-1 bg-white p-4">
          <h7 class="text-uppercase text-secondary mb-0">Gender &nbsp</h7>
          {{ form.gender(class="mdb-select md-form") }}
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="d-flex border justify-content-around bg-info">
        <div class="bg-secondary text-light p-4">
          <div class="d-flex align-items-center h-100">
            <i class="fa fa-3x fa-fw fa-cog"></i>
          </div>
        </div>
        <div class="flex-grow-1 bg-white p-4">
          <h7 class="text-uppercase text-secondary mb-0">Ethnicity</h7>
          {{ form.race(class="mdb-select md-form") }}
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="d-flex border justify-content-around bg-info">
        <div class="bg-secondary text-light p-4">
          <div class="d-flex align-items-center h-100">
            <i class="fa fa-3x fa-fw fa-cog"></i>
          </div>
        </div>
        <div class="flex-grow-1 bg-white p-4">
          <h7 class="text-uppercase text-secondary mb-0">Condition</h7><br>
          <!-- {{ form.condition(class="mdb-select md-form") }} -->
          {% for name in ['CKD', 'CarotidStenosis', 'DM','Dyslipidemia','HTN'] %}
            <div class="checkbox">
              <label>
                <input type="checkbox" data-toggle="toggle" id={{ name }}>
                {{ name }}
              </label>
            </div>
          {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
  <div>
    <a class="btn btn-secondary btn-lg btn-block" role="button" id="submit" onclick="getPred()">
      Submit
    </a>
  </div>
</form>
<br>
<div class="card">
  <div class="card-title text-center"><h3>Result</h3></div>
  <div class="card-body text-center"><h3 id="result">{{ result }}</h3></div>
</div>
{% endblock content %}