<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    {% if title %}
            <title>Stroke Chance - {{ title }}</title>
    {% else %}
            <title>Stroke Chance</title>
    {% endif %}
  </head>
  <body>
    <div class=container>
      <div class="jumbotron text-center ">
        <h1 class="display-4">Stroke</h1>
        <p class="lead">How likely are you going to get stroke?</p>
        <hr class="my-4">
        <p>Utilizing machine learning to predict the chance of you getting a stroke.</p>
      </div>
      {% block content %}{% endblock  %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
      var conditions = ['CKD', 'Carotid stenosis', 'DM','Dyslipidemia','HTN']
      function getPred(){
        d3.select('#result').html('Please wait, calculating...');
        predicted = d3.json('/predict/'+JSON.stringify(grabVals())).then(response =>
          {
            d3.select('#result').html(response.result);
            console.log(response);
          }
        )}
      function grabVals(){
        fields = ['age', 'gender', 'race']
        data = {conditions:d3.selectAll('div.btn-primary')}
        fields.forEach(field => {
          data[field+'_id']=d3.select('#'+field).property('value')
        })
       return data
      }
      
      </script>
      <!-- <script>
        conditions = ['CKD', 'Carotid stenosis', 'DM','Dyslipidemia','HTN']
        d3.select('#condition').selectAll('option').data(conditions).enter().forEach(x=> {
        x.attr('type','checkbox') 
      })</script> -->
      <!-- <script>conditions = ['CKD', 'Carotid stenosis', 'DM','Dyslipidemia','HTN']
      d3.select('#condition').selectAll('option').remove();
              d3.select('#condition').data(conditions).enter().Each(x=> {
                x.append('input').attr('type','checkbox')})
      </script> -->
  </body>
</html>